<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.session.guest_user_id %}
        <p>Welcome Guest User {{ request.session.guest_user_id }} you mother Fucker form {{guest_user.get_district_display}} hu!..</p>
    {% else %}
        <p>No guest user found in session</p>
    {% endif %}

    <form action="", method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Log In</button>
    </form>
</body>
</html>