{% extends "main.html" %}

{% block for_main_container %}

<!-- Sign-UP Card -->
<div class="bg-gradient-to-r from-white to-[#c2eece] rounded-2xl shadow-neu-hover p-6 transition-all duration-300 ease-in-out hover:shadow-neu hover:-translate-y-1 md:w-1/2 m-auto mt-16">

    <!-- Title -->
    <h2 class="text-2xl font-bold text-green-800 flex items-center gap-2 mb-5">
        <i class="fa-solid fa-user-plus text-primary"></i>
        <div class="text-2xl font-bold text-primary-dark ml-2">
            Sign<span class="text-primary">UP</span>
        </div>
    </h2>
   


    <div class="lg:flex gap-2 mb-5">
        <!-- User Button -->
        <button id="bill-method"
                class="flex-1 text-center py-2.5 text-gray-600 font-bold text-xl
                    bg-[#f5f5f5] rounded-xl w-full mb-5 lg:mb-0
                    shadow-neu transition-all duration-200 ease-in-out 
                    hover:text-[#40b98c] hover:-translate-y-1 hover:shadow-md">
            <i class="fa-solid fa-user-check text-primary mr-3"></i>
            as a User
        </button>

        <!-- Guest-User Button -->
        <button id="appliance-method"
                class="flex-1 text-center py-2.5 text-gray-600 font-bold text-xl
                    bg-[#f5f5f5] rounded-xl w-full
                    shadow-neu transition-all duration-200 ease-in-out 
                    hover:text-[#40b98c] hover:-translate-y-1 hover:shadow-md">
            <i class="fa-solid fa-user  text-primary mr-3"></i>
            as a Guest-User
        </button>
    </div>

    <!-- Bill Input -->
    <div id="bill-input" class="space-y-4">
        <form action="", method="POST">
            {% csrf_token %}

            {% for field in form %}
                <p><label for="{{field.id_for_label}}" class="label-s"> {{ field.label }} </label></p>

                {% if field.errors %}
                <ul class="space-y-2">
                    {% for error in field.errors %}
                        <li class="w-full my-3">
                            <span class="flex-1 text-center text-gray-600 font-bold text-md
                                text-[#ff0101] rounded-xl before:content-['▹']">
                                
                                {{ error }}
                            
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

                {{ field }}
                
            {% endfor %}


            {% if form.non_field_errors %}
            <ul class="space-y-2">
                {% for error in form.non_field_errors %}
                    <li class="w-full mb-3">
                        <span class="flex-1 text-center text-gray-600 font-bold text-md
                            text-[#ff0101] rounded-xl before:content-['▹']">
                            
                            {{ error }}
                        
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}


            {% if messages %}
                {% for message in messages %}
                    <div class="p-3 my-4 text-center rounded-lg font-bold border w-full text-white {% if 'success' in message.tags %} bg-green-700{% endif %} {% if 'error' in message.tags %}bg-red-800{% endif %}"> {{ message }} </div>
                {% endfor %}
            {% endif %}

            <button type="submit" name="user_submit" class="__btn">
                <span class="__btn_spn">Submit</span> </span> 
            </button>
            
        </form>
    </div>

    <!-- Appliance Input (Hidden) -->
    <div id="appliance-input" class="space-y-4 hidden">
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ guest_user_form.as_p }}

                <button type="submit" name="guest_submit" class="__btn">
                    <span class="__btn_spn">Submit as Guest User</span> 
                </button>
            </form>
        </div>

        
    </div>
    
    

</div>


{% endblock for_main_container %}